<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root level to ERROR to suppress most logging -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Set JGit logging to WARN to hide debug messages -->
    <logger name="org.eclipse.jgit" level="WARN" />
    
    <!-- Our application logging - controlled by system property -->
    <logger name="org.devmetrics" level="INFO" />
</configuration>
